@font-face{
	font-family:iA Writer Mono;
	font-style:normal;
	font-display:swap;
	font-weight:400;
	src:url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-normal.woff2) format("woff2"),url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-normal.woff) format("woff")
}
@font-face{
	font-family:iA Writer Mono;
	font-style:normal;
	font-display:swap;
	font-weight:700;
	src:url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-normal.woff2) format("woff2"),url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-normal.woff) format("woff")
}
@font-face{
	font-family:iA Writer Mono;
	font-style:italic;
	font-display:swap;
	font-weight:400;
	src:url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-italic.woff2) format("woff2"),url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-italic.woff) format("woff")
}
@font-face{
	font-family:iA Writer Mono;
	font-style:italic;
	font-display:swap;
	font-weight:700;
	src:url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-italic.woff2) format("woff2"),url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-italic.woff) format("woff")
}
:root{
	--white: #efefef;
	--transwhite: rgba(239, 239, 239, .7);
	--moretranswhite: rgba(239, 239, 239, .1);
	--black: #252525;
	--transblack: rgba(37, 37, 37, .7);
	--moretransblack: rgba(37, 37, 37, .1);
	--gray: #6b6b6b;
	--highlight: #e5ffc3;
	--red: #e4002b;
	--green: #24d05a;
	--pink: #eb4888;
	--blue: #10a2f5;
	--yellow: #e9bc3f
}
::selection{
	background-color:var(--highlight);
	color:var(--black)
}
html,body{
	margin:auto;
	padding:20px;
	max-width:70ch;
	background-color:var(--white);
	word-wrap:break-word;
	overflow-wrap:break-word;
	color:var(--black)
}
html,body,button,code{
	font-family:iA Writer Mono,monospace
}
h1,strong,b{
	color:var(--black)
}
body.dark-mode,body.dark-mode button,body.dark-mode h1,body.dark-mode .go-home,button.dark-mode,button.dark-mode button{
	background:var(--black);
	color:var(--white)
}
body.dark-mode nav{
	background:var(--transblack)
}
.tag-title{
	font-weight:400;
	color:var(--black)
}
@media (prefers-color-scheme: dark){
	::selection{
		background-color:#0f0f0f;
		color:var(--white)
}
	:root{
		--gray: #a4a4a4
}
	html,body,body button,body h1,body strong,body b,body em,body blockquote,body .go-home{
		background:var(--black);
		color:var(--white)
}
	body nav{
		background:var(--transblack)
}
	body code{
		background-color:var(--moretranswhite)
}
	body a{
		color:var(--white)
}
	body .tag{
		color:var(--gray)
}
	.tag-title{
		color:var(--white)
}
}
h2,h3,h4,h5,h6{
	color:var(--gray);
	line-height:1.1;
	padding:1rem 0
}
header{
	position:relative
}
a{
	color:var(--black);
	text-decoration-thickness:.3ex;
	text-underline-offset:.3ex
}
nav{
	position:sticky;
	top:0;
	text-align:center;
	background:var(--transwhite);
	-webkit-backdrop-filter:blur(1px);
	backdrop-filter:blur(1px)
}
nav a{
	margin:25px 0
}
nav a:not(:last-child){
	padding:0 12px 0 0
}
hr{
	border-top:1px solid var(--gray);
	margin:1rem 0
}
ul.posts-list,ul.tags-list{
	padding:unset;
	list-style-type:none
}
.post{
	margin:0 0 30px
}
.post .title{
	font-size:1.3em
}
.tags{
	display:flex;
	flex-wrap:wrap;
	justify-content:center
}
.tag{
	display:inline-block;
	margin-right:20px;
	color:var(--black);
	font-size:.8rem
}
.tag:hover{
	cursor:pointer;
	font-weight:700
}
textarea{
	width:100%;
	font-size:16px
}
input{
	font-size:16px
}
main,content{
	line-height:1.6
}
table{
	width:100%
}
img{
	max-width:100%;
	height:auto
}
code{
	padding:2px 5px;
	background-color:var(--moretransblack);
	font-weight:700
}
pre{
	padding:1rem
}
pre>code{
	all:unset
}
blockquote{
	border:1px solid var(--gray);
	color:var(--black);
	padding:2px 0 2px 20px;
	margin:0;
	font-style:italic
}
h1,h2{
	font-weight:400;
	padding:1rem 0
}
h3,.center{
	text-align:center
}
.header-section{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap
}
.header-frame{
	max-width:350px
}
article :not(.article-title){
	line-height:1.8
}
.article-title{
	font-size:2em;
	margin:.25em 0;
	padding:1rem 0
}
.blog-post{
	font-size:clamp(1rem,.96rem + .22vw,1.125rem)
}
.blog-post>*+*{
	margin-block-start:1em
}
time{
	font-style:italic;
	color:var(--gray)
}
ul li time{
	white-space:nowrap
}
@media (max-width: 600px){
	nav a:not(:last-child){
		padding:0
}
}
a[data-astro-cid-eimmu3lg]{
	display:inline-block;
	text-decoration:none
}
a[data-astro-cid-eimmu3lg].active{
	font-weight:bolder;
	text-decoration:underline;
	text-decoration-thickness:.3ex;
	text-underline-offset:.3ex
}
h2[data-astro-cid-3ef6ksr2]{
	margin:.5em 0;
	padding:1rem 0
}
footer[data-astro-cid-sz7xmlte]{
	padding:25px;
	text-align:center;
	font-size:.8rem
}

h2,h3,h4,h5,h6{color:var(--gray);line-height:1.1;padding:1rem 0}

h1,h2{font-weight:400;padding:1rem 0}
